<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="setting_form.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <setting_form.Properties.Settings>
            <setting name="co_title" serializeAs="String">
                <value>Test Co</value>
            </setting>
            <setting name="co_manager" serializeAs="String">
                <value>Parker</value>
            </setting>
            <setting name="co_adv" serializeAs="String">
                <value>Best Office Software</value>
            </setting>
            <setting name="co_tel" serializeAs="String">
                <value>+142255225</value>
            </setting>
            <setting name="co_cell" serializeAs="String">
                <value>+545554444</value>
            </setting>
            <setting name="co_fax" serializeAs="String">
                <value>+9855444</value>
            </setting>
            <setting name="co_activity" serializeAs="String">
                <value>Software</value>
            </setting>
            <setting name="co_email" serializeAs="String">
                <value>test@gmail.com</value>
            </setting>
            <setting name="co_site" serializeAs="String">
                <value>kamishasoft.com</value>
            </setting>
            <setting name="co_add" serializeAs="String">
                <value>USA-2525</value>
            </setting>
            <setting name="co_language" serializeAs="String">
                <value>US</value>
            </setting>
        </setting_form.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
